{% extends 'base.html' %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
<main class="form-signin">
    <div class="container mt-5">
        <form method="post">
            <input type="text" name="title" class="form-control" id="title" placeholder="Название пасты"><br>
            <textarea name="intro" id="intro" class="form-control" placeholder="Интро"></textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Текст пасты"></textarea><br>
            <input name="category_id" class="form-control" id="category_id" placeholder="Номер категории"><br>
            <input type="submit" class="btn btn-success" value="Создать пасту">
        </form>
    </div>
</main>
{% endblock %}