{% extends 'base.html' %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
<main class="form-signin">
    <div class="container mt-5">
        <form method="post">
            <input type="text" name="title" class="form-control" id="title" placeholder="Название пасты"><br>
            <textarea name="intro" id="intro" class="form-control" placeholder="О чём ваша паста? Напишите короткую фразу, которая заинтересует читателя"></textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Текст пасты"></textarea><br>
            <input tipe="text" name="tag" id="tag" class="form-control" placeholder="Теги (напишите их через запитую, если их несколько)"><br>
            <input tipe="text" name="author" id="author" class="form-control" placeholder="Автор"><br>
            <input type="submit" class="btn btn-success" value="Создать пасту">
        </form>
    </div>
</main>
{% endblock %}