{% extends 'base.html' %}

{% block title %}
Все пасты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все пасты</h1>

    {% for articles in articles %}
    <div class="alert alert-info">
        <h2>{{ articles.title }}</h2>
        <p>О чём паста: {{ articles.intro }}</p>
        {% for tag in articles.tags %}
            Теги: #{{ tag.text }}
        {% endfor %}
        <p>
        {% for author in articles.authors %}
            Автор: {{ author.text }}
        {% endfor %}
        <p><b>Дата: {{ articles.date.date() }}</b></p>
        <a href="/posts/{{ articles.id }}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
</div>
{% endblock %}